<div class="header">
  <div class="header-option left" [routerLink]="['/']">
    <img src="https://image.flaticon.com/icons/svg/201/201563.svg" alt="">
    {{ 'strings.app_name' | translate }}
  </div>
  <div class="header-option right">
    {{user.name}}
    <img src="https://image.flaticon.com/icons/svg/201/201563.svg" alt="">
  </div>
</div>
<div class="container">
  <div class="list-themes">
    <div class="theme" *ngFor="let theme of themes">
      <div class="theme-header">
        <img src="{{theme.icon}}" alt="">
        <div class="theme-header-content inline">
          <h2>Lesson {{theme.id}}: {{theme.title[0]}}</h2>
          <p class="inline">{{theme.description[0]}}</p>
        </div>
      </div>
      <div class="lessons">
        <div class="lesson" *ngFor="let lesson of theme.lessons">
          <h2>{{lesson.title[0]}}</h2>
          <div class="items">
            <div class="item inline" *ngFor="let item of lesson.items; let index = index" (click)="goQuest(theme.id, lesson.lesson_id, index)">
              <h3>{{item.title[0]}}</h3>
              <img src="../../../assets/imgs/icons/{{item.icon}}" alt="">
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>